<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>乐淘商城</title>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- 引入字体图标库的css -->
  <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="./lib/mui/css/mui.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/category.css">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <!-- 全屏容器 -->
  <div class="ct_container ">

    <!-- 乐淘头部 -->
    <header class="ct_header">
      <a href="javascript:history.back();" class="left"><span class="fa fa-arrow-left"></span></a>
      <h3>乐淘云购</h3>
      <a href="search.html" class="right"><span class="fa fa-search"></span></a>
    </header>
    <div class="ct_content ">
      <div class="ct_wrapper">
        <div class="mui-scroll-wrapper">
          <div class="mui-scroll">
            <div class="cate_left">
              <ul>
               
              </ul>
            </div>
            <div class="cate_right ">
              <ul>
               
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="ct_footer">
      <a class="tab_home fa fa-home now" href="index.html"><span>首页</span></a>
      <a class="tab_cate fa fa-bars" href="category.html"><span>分类</span></a>
      <a class="tab_cart fa fa-shopping-cart" href="user/cart.html"><span>购物车</span></a>
      <a class="tab_user fa fa-user" href="user/index.html"><span>会员中心</span></a>
    </footer>
  </div>

<script type="text/template" id="firstTemplate">
  <% for(var i=0;i<rows.length;i++){ %>
      <li class="<%=i==0?'now':''%>"><a href="javascript:;" data-id="<%=rows[i].id%>"><%=rows[i].categoryName%></a></li>
    <%}%>
  
 
  

</script>
<script type="text/template" id="secondTemplate">
  <% if(rows.length){ %>
  <% for(var i=0;i<rows.length;i++){ %>
      <li class="<%=i==0?'now':''%>"><a href="javascript:;" data-id="<%=rows[i].id%>">
          <img src="<%=rows[i].brandLogo%>" alt=""> <p><%=rows[i].brandName%></p></a></li>
         
    <% } %>
    <% }else{ %>
      <p>当前分类页没有更多商品</p>
      <% } %>
  
  
</script>


  <script src="./lib/zepto/zepto.min.js"></script>
  <script src="./lib/mui/js/mui.js"></script>
  <script src="./lib/artTemplate/template-native.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/category.js"></script>
</body>

</html>